---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Vinoteca Nexus - Tu destino para los mejores vinos"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Vinoteca Nexus</title>
    
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-white">
    <Navigation />
    <main class=>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  


</style>
